.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  .navigationBox {
    a {
      color: black;
      padding: 2px 10px;
      text-decoration: none;
      &:hover {
        font-size: 1.1em;
      }
    }
    a:first-of-type {
      border-right: 2px solid black;
    }
  }

  .searchInput {
    outline: none;
    border-radius: 20px;
    padding: 3px;
  }
}
