.UsersRow {
  display: flex;
  justify-content: space-between;

  .cell {
    padding: 5px;
    border: 1px solid black;
    margin: 1px 2px;
    width: 22%;

    &:nth-of-type(1) {
      width: 10%;
    }
  }
  .clickableCell {
    cursor: pointer;
  }
}
